<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/images/weather.png">
        <link rel="stylesheet" href="/css/style.css">
        <body>
            <div class="main-content">
                {{>header}}
                <img class="image-1" src="/images/clouds-2329680.jpg">
                <br>
                Image by <a class="image-credit" href="https://pixabay.com/users/dimitrisvetsikas1969-1857980/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2329680">Dimitris Vetsikas</a>
            </div>
            
            {{>footer}}
        </body>
    </head>
</html>